body {
    font-family: Arial, sans-serif;
    background-color: #000000;
  }
  
  .calculadora {
    max-width: 314px;
    margin: 0 auto;
    background-color: #201e1e;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5%;
  }
  
  #pantalla {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    color:#b1afaf;
    margin-bottom: 25px;
    text-align: right;
    background-color: #353232;
  }

  #cero{
    width: 150px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }

  #igual{
    width: 150px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  input[type="button"] {
    width: 70px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .signo{
    background-color: #fc9015;
    color: #000000;
  }
  .signo:hover{
    background-color: #b46000;
  }

  .nro{
    background-color: #55524e;
    color: #fff;
  }
  .nro:hover{
    background-color: #3f3e3c;
  }

  .borrar{
    background-color: #b1b1b1;
    color: #000000;
  }
  .borrar:hover{
    background-color: #808080;
  }